name: cd

on:
  workflow_dispatch:
  push:
    branches: "master"

jobs:
  main:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    env:
      AZURE_CONTAINER_REGISTRY_URL: hmctspublic.azurecr.io
      NEW_AZURE_CONTAINER_REGISTRY_URL: hmctsprod.azurecr.io
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          client-id: c6a3a50b-762f-4b4f-b7ec-f1d84be20cef # DTS Platform Operations GitHub Actions ACR Publisher 1
          tenant-id: 531ff96d-0ae9-462a-8d2d-bec7c0b42082 # HMCTS.NET
          allow-no-subscriptions: true

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Store Jenkins version for tagging
        run: |
          echo JENKINS_VERSION=$(grep "FROM jenkins" jenkins/Dockerfile | cut -d: -f2 | cut -d- -f1) >> $GITHUB_ENV

      # HMCTS prod
      - name: 'ACR Login - ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}'
        run: |
          az acr login --name hmctsprod

      # HMCTSPROD ACR
      - name: 'Build and push prod image - ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}'
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          context: ./jenkins
          push: true
          tags: ${{ env.NEW_AZURE_CONTAINER_REGISTRY_URL }}/jenkins/jenkins:${{ env.JENKINS_VERSION }}-${{ github.run_number }}

      # HMCTSPUBLIC ACR
      - name: 'Build and Push prod image - ${{ env.AZURE_CONTAINER_REGISTRY_URL }}'
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: 'Build and Push prod image - ${{ env.AZURE_CONTAINER_REGISTRY_URL }}'
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          context: ./jenkins
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY_URL }}/jenkins/jenkins:${{ env.JENKINS_VERSION }}-${{ github.run_number }}
