name: Update Jenkins plugins

on:
  workflow_dispatch:
  push:
    branches:
     - 'master'
  schedule:
    # * is a special character in YAML, so you have to quote this string
    - cron: '30 8 * * TUE'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
      - run: ./bin/update-plugins-no-docker.sh
        name: Update plugins

      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.DEPENDENCY_UPDATER_APP_ID }}
          private_key: ${{ secrets.DEPENDENCY_UPDATER_APP_PRIVATE_KEY }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: 'Update Jenkins plugins'
          token: ${{ steps.generate-token.outputs.token }}
          author: hmcts-dependency-updater <104018155+hmcts-dependency-updater[bot]@users.noreply.github.com>
          committer: hmcts-dependency-updater <104018155+hmcts-dependency-updater[bot]@users.noreply.github.com>
          signoff: true
          title: 'Update Jenkins plugins'
