name: ci

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
# requires https://github.com/hadolint/hadolint-action/pull/65
#      - name: Lint
#        uses: hadolint/hadolint-action@v2.1.0
#        with:
#          dockerfile: ./jenkins/Dockerfile
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Azure Container Repository
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - run: |
          echo JENKINS_VERSION=$(grep "FROM jenkins" jenkins/Dockerfile | cut -d: -f2 | cut -d- -f1) >> $GITHUB_ENV
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./jenkins
          push: true
          tags: ${{ secrets.REGISTRY_LOGIN_SERVER }}/jenkins/jenkins:pr-${{ github.event.number }}-${{ env.JENKINS_VERSION }}-${{ github.run_number }}
